<!doctype html>
<html ng-app="cast">
  <head>
    <meta charset="utf-8">
    <base href="<%= base %>">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.png">
    <title>djQueue</title>
    <script>
    _q = <%- bootstrap %>
    </script>
  </head>
  <body ng-controller="QueueController as queue">
    <div ng-view></div>

    <script src="/js/lib/socket.io.js"></script>
    <script src="/js/lib/jquery-1.11.3.min.js"></script>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-route.min.js"></script>

    <script src="/js/cast-app/app.js"></script>
    <script src="/js/cast-app/cast-controller.js"></script>
    <script src="/js/util/queue-controller.js"></script>
    <script src="/js/util/queue-service.js"></script>
    <script src="/js/util/socket-factory.js"></script>
    <script src="/js/util/bootstrap-value.js"></script>
  </body>
</html>
