<!doctype html>
<html ng-app="castApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Queue</title>
    <script>
    _q = {
      users: <%- users %>,
      queue: <%- queue %>,
      id: <%- id %>,
      host: <%- host %>,
      nowPlayingId: <%- nowPlayingId %>
    }
    </script>
  </head>
  <body>

    <div ng-view>
    </div>

    <script src="/js/lib/socket.io-1.2.0.js"></script>
    <script src="/js/lib/jquery-1.11.2.min.js"></script>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-route.min.js"></script>
    <script src="/js/lib/qrcode.min.js"></script>

    <script src="/js/cast/app.js"></script>
    <script src="/js/cast/cast-controller.js"></script>
  </body>
</html>
