<!doctype html>
<html ng-app="queue">
  <head>
    <meta charset="utf-8">
    <base href="<%= base %>">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.png">
    <title>djQueue</title>
    <script>_q = <%- bootstrap %>;</script>
    <script>
      if(!localStorage['queueUsername']) {
        window.location.href = _q.host + _q.id;
      }
    </script>
  </head>
  <body ng-controller="QueueController as queue">
    <div ng-view></div>
    <script>
      _g = {
        loaded: false,
        onload: null
      };
      function googleApiClientReady() {
        gapi.client.load('youtube', 'v3', function() {
          gapi.client.setApiKey(_q.googleKey);
          _g.loaded = true;
          if(_g.onload) {
            _g.onload();
          }
        });
      }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

    <script src="/js/lib/socket.io.js"></script>
    <script src="/js/lib/jquery-1.11.3.min.js"></script>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-route.min.js"></script>

    <script src="/js/queue-app/app.js"></script>
    <script src="/js/queue-app/list-controller.js"></script>
    <script src="/js/queue-app/search-controller.js"></script>
    <script src="/js/queue-app/api-adapter.js"></script>
    <script src="/js/util/queue-controller.js"></script>
    <script src="/js/util/queue-service.js"></script>
    <script src="/js/util/socket-factory.js"></script>
  </body>
</html>
