<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script>
    _q = {
      host: <%- host %>
    }
    </script>
  </head>
  <body>
    <script>
      if(localStorage['queueId']) {
        var hashParams = {};
        var e, r = /([^&;=]+)=?([^&;]*)/g,
            q = window.location.hash.substring(1);
        while ( e = r.exec(q)) {
            hashParams[e[1]] = decodeURIComponent(e[2]);
        }
        if(hashParams.state == localStorage['spotifyState']) {
          localStorage['spotifyToken'] = hashParams['access_token'];
          var t = new Date();
          t.setSeconds(t.getSeconds() + parseInt(hashParams['expires_in']));
          localStorage['spotifyExpire'] = t;
          window.location.href = _q.host + localStorage['queueId'] + '/queue#/search';
        }
        
      }
    </script>
  </body>
</html>
