@font-face {
    font-family: 'lane';
    src: url('font/LANENAR_-webfont.eot');
    src: url('font/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/LANENAR_-webfont.woff') format('woff'),
         url('font/LANENAR_-webfont.ttf') format('truetype'),
         url('font/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style-type: none;
}

body {
    font-family: lane, Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #2980b9;
    color: white;
}

body#login-body {
    background-color: #4F5C5D;
}

label {
    display: block;
    padding: 30px 10px 10px 10px;
    background-color: #16A085;
    color: white;
    text-align: center;
    font-size: 24px;
}

button,
.navigate {
    cursor: pointer;
}

#name {
    border: 20px solid #16A085;
    padding: 10px;
    background-color: white;
    font-size: 18px;
    color: black;
    width: 100%;
    box-sizing: border-box;
    font-family: lane, Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    outline: 0;
}

input {
    -webkit-appearance: none;
    outline: 0;
    border-radius: 0;
    border: 0;
    text-decoration: none !important;
}

input[type=submit] {
    width: 50%;
    margin: 20px auto;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    background-color: #3498DB;
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: lane, Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    outline: 0;
}

input[type=submit]:active {
    background-color: #e67e22;
}

#search-button, #cast-link, #search-wrap {
    display: block;
    color: white;
    background-color: #16A085;
    padding: 10px;
    text-decoration: none;
    text-align: right;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    line-height: 20px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}

#search-button {
    text-align: left;
}

#search-button button {
    display: inline-block;
    height: 40px;
    width: 50px;
    margin-top: -10px;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}

#search-button a.search-link {
    display: block;
    height: 100%;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    text-align: right;
}

#search-button a:visited {
    color: white;
}

#cast-link {
    height: 40px;
}

#search-wrap {
    height: 72px;
}

#users {
    padding: 10px;
}

#users ul {
    list-style-type: none;
    text-align: center;
}

#users li {
    display: inline-block;
    text-align: center;
}

#users li:before {
    display: inline-block;
    content: '\2022';
    padding: 0 10px;
}

#users li:first-child:before {
    content: "";
}

#queue {
    margin-top: 40px;
    background-color: #2980b9;
    position: relative;
    z-index: 30;
    box-shadow: 0 -3px 3px rgba(0,0,0,0.1);
}

#queue.cast-queue {
    background-color: #49A0D9;
}

#queue li {
    padding: 10px;
    background-color: #2980b9;
}

#queue li:nth-child(2n),
#queue.cast-queue li.end {
    background-color: #49A0D9;
}

#queue li.playing {
    background-color: #e67e22;
}

#queue li.playing:nth-child(2n) {
    background-color: #f67e22;
}

#queue .username {
    float: right;
    text-align: right;
    padding-left: 10px;
}

#queue .username p {
    display: inline-block;
    vertical-align: top;
}

#search {
    padding: 10px;
    background-color: white;
    font-size: 18px;
    height: 40px;
    color: black;
    width: 100%;
    box-sizing: border-box;
    font-family: lane, Helvetica, Arial, sans-serif;
}

#search-wrap {
    text-align: left;
    position: fixed;
    padding: 0;
    margin: 0;
    height: 60px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}

#search-wrap form {
    box-sizing: border-box;
    position: absolute;
    right: 10px;
    height: 40px;
    top: 10px;
    left: 55px;
}

#search-wrap #back, #search-wrap form {
    display: inline-block;
    vertical-align: middle;
}

#search-wrap #back {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin: 10px;
    vertical-align: middle;
    line-height: 35px;
    border-radius: 0;
    background-color: transparent;
    color: white;
    font-size: 40px;
    padding: 0;
    vertical-align: middle;
}

#search-button-wrap {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    height: 225px;
}

#search-button-wrap button, .queue-buttons button, .icon {
    display: inline-block;
    padding: 0;
    box-sizing: border-box;
    margin: 0 0 0 5px;
    background-color: #ecf0f1;
    border-radius: 0;
    color: black;
    font-size: 25px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-family: lane, Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
    outline: 0;
}

.icon {
    margin-right: 10px;
    margin-left: 1px;
    float: left;
}

#search-button-wrap button:active, .queue-buttons button:active {
    opacity: 0.8;
}

#search-button-wrap .fa, .queue-buttons .fa {
    vertical-align: middle;
}

.queue-buttons .fa {
    display: block;
    height: 100%;
    width: 100%;
    color: #ddd;
    background-color: #555;
    line-height: 42px;
}

.fa-spotify {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    line-height: 40px;
    font-size: 30px;
    vertical-align: middle;
}

.fa-youtube-play {
    background-color: #CD1F21;
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.fa-soundcloud {
    background-color: #FE4600;
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.fa-repeat {
    background-color: #24569B;
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

#search-button-wrap p span {
    float: left;
    text-align: left;
    height: 40px;
    line-height: 40px;
}

#search-button-wrap p, .queue-buttons {
    text-align: right;
    padding: 10px;
    height: 40px;
}

.queue-buttons {
    padding: 10px 0 0 0;
    width: 150px;
    float: right;
    clear: both;
}

#search-button-wrap p:nth-child(2n + 1) {
    background-color: #36C0A5;
}

#search-button-wrap p:nth-child(2n) {
    background-color: #16A085;
}

h3 {
    font-size: 100%;
    text-align: center;
    padding: 20px;
    font-weight: normal;
}

.queue-name {
    font-weight: bold;
}

.queue-artist {
    height: 50px;
    display: table-cell;
    vertical-align: bottom;
}

.queue-artist .artist {
    opacity: 0.7;
    vertical-align: bottom;
}


#cast-qr {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

#cast-header {
    height: 100px;
    width: 350px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #16A085;
    z-index: 20;
    line-height: 20px;
}

#cast-url {

}

#cast-users {
    margin-top: 10px;
}

#cast-users span:after {
    content: " \2022  ";
    font-size: 80%;
}

#cast-users span:last-child:after {
    content: "";
}

#queue.cast-queue {
    position: absolute;
    top: 0;
    left: 350px;
    z-index: 10;
    right: 60px;
    height: 100px;
    margin-top: 0;
}

#queue.cast-queue li {
    height: 100%;
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 50%;
}

#queue.cast-queue li:nth-child(2), #queue.cast-queue li.end {
    z-index: 2;
}

#queue.cast-queue li:first-child {
    z-index: 5;
}

#queue.cast-queue li.end {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
}

.item-title {
    background-color: transparent;
    margin: -10px -10px 10px -10px;
    padding: 10px;
    text-align: right;
    line-height: 28px;
    height: 25px;
}

.icon.no-border {
    background-color: transparent;
    color: white;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
}

.cast-queue .icon.right {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.cast-queue p {
    max-height: 25px;
    overflow: hidden;
}

.cast-queue .artist {
    max-height: 30px;
    display: block;
    overflow: hidden;
    padding-right: 60px;
    line-height: 30px;
}

.cast-queue .queue-name, .cast-queue .username {
    padding-top: 5px;
    margin-bottom: -5px;
}

.cast-queue .queue-name .icon.no-border {
    vertical-align: middle;
    margin-top: -4px;
}

#cast-count {
    position: absolute;
    height: 100px;
    width: 50px;
    padding-left: 10px;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: #2980b9;
}

#cast-count .item-title {
    margin-top: 0;
    text-align: center;
}

#cast-count .item-title .icon {
    text-align: center;
}

#cast-count .count {
    text-align: center;
    font-size: 150%;
    margin-left: -10px;
    margin-top: -20px;
}

#cast-count .description {
    text-align: center;
    font-size: 70%;
    margin-left: -10px;
}
