<div id="search-wrap">
  <a id="back" ng-click="search.navigateList()"><i class="fa fa-bars"></i></a>
  <form ng-submit="search.search('spotify-song')">
    <input type="text" ng-model="search.searchText" id="search" ng-focus="search.focusSearch()">
  </form>
</div>

<div id="search-button-wrap" style="margin-top:60px">
  <p>
    <span>Song</span>
    <button ng-click="search.search('soundcloud-song')"><i class="fa fa-soundcloud"></i></button>
    <button ng-click="search.search('youtube-video')"><i class="fa fa-youtube-play"></i></button>
    <button ng-click="search.search('spotify-song')"><i class="fa fa-spotify"></i></button>
  </p>
  <p>
    <span>Playlist</span>
    <button ng-click="search.search('soundcloud-playlist')"><i class="fa fa-soundcloud"></i></button>
    <button ng-click="search.search('youtube-playlist')"><i class="fa fa-youtube-play"></i></button>
    <button ng-click="search.search('spotify-playlist')"><i class="fa fa-spotify"></i></button>
  </p>
  <p>
    <span>Album</span>
    <button ng-click="search.search('spotify-album')"><i class="fa fa-spotify"></i></button>
  </p>
</div>

<div style="margin-top:240px"></div>

<ul id="queue" ng-if="!search.loading">
  <li ng-if="search.searchPageHref || search.pageToken || search.nextPageHref || search.nextPageToken">
    <p class="queue-buttons" style="margin-top: -10px">
      <button ng-if="search.searchPageHref || search.pageToken" ng-click="search.pageBack()"><i class="fa fa-arrow-left"></i></button>
      <button ng-if="search.nextPageHref || search.nextPageToken" ng-click="search.pageForward()"><i class="fa fa-arrow-right"></i></button>
    </p>
    <div style="clear:both"></div>
  </li>
  <li ng-repeat="result in search.searchResults" ng-class="{playing: result.added}">
    <p class="queue-name">{{result.name}}</p>

    <p class="queue-buttons" ng-if="search.searchType=='spotify-song' || search.searchType=='soundcloud-song' || search.searchType=='spotify-album-song' || search.searchType=='spotify-playlist-song' || search.searchType=='soundcloud-playlist-song'">
      <button ng-click="search.addQueue('now', result)"><i class="fa fa-play"></i></button>
      <button ng-click="search.addQueue('next', result)"><i class="fa fa-indent"></i></button>
      <button ng-click="search.addQueue('last', result)"><i class="fa fa-angle-double-down"></i></button>
    </p>

    <p class="queue-buttons" style="display:block" ng-if="search.searchType=='soundcloud-playlist'"><button ng-click="search.viewSoundcloudPlaylist(result)"><i class="fa fa-list"></i></button></p>

    <p class="queue-buttons" style="display:block" ng-if="search.searchType=='spotify-playlist'"><button ng-click="search.viewSpotifyPlaylist(result)"><i class="fa fa-list"></i></button></p>

    <p class="queue-buttons" style="display:block" ng-if="search.searchType=='spotify-album'"><button ng-click="search.viewSpotifyAlbum(result)"><i class="fa fa-list"></i></button></p>

    <p class="queue-buttons" style="display:block" ng-if="search.searchType=='youtube-playlist'"><button ng-click="search.viewYoutubePlaylist(result)"><i class="fa fa-list"></i></button></p>

    <p class="queue-buttons" style="display:block" ng-if="search.searchType=='youtube-video' || search.searchType=='youtube-playlist-item'">
      <button ng-click="search.addYoutubeQueue('now', result)"><i class="fa fa-play"></i></button>
      <button ng-click="search.addYoutubeQueue('next', result)"><i class="fa fa-indent"></i></button>
      <button ng-click="search.addYoutubeQueue('last', result)"><i class="fa fa-angle-double-down"></i></button>
    </p>

    <p class="queue-artist"><span class="artist">{{result.artist}}</span></p>
  </li>
  <li ng-if="search.searchPageHref || search.pageToken || search.nextPageHref || search.nextPageToken">
    <p class="queue-buttons" style="margin-top: -10px">
      <button ng-if="search.searchPageHref || search.pageToken" ng-click="search.pageBack()"><i class="fa fa-arrow-left"></i></button>
      <button ng-if="search.nextPageHref || search.nextPageToken" ng-click="search.pageForward()"><i class="fa fa-arrow-right"></i></button>
    </p>
    <div style="clear:both"></div>
  </li>
</ul>

<h3 ng-if="search.loading">loading...</h3>
